* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

.header {
  background: #222222;
  color: #fff;
  padding: 18px 0;
}

.wrap {
  width: 1140px;
  margin: 0 auto;
  /*outline: 1px solid red;*/
}

.header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav {
  margin-left: 41px;
}

.offer {
  background-color: #F1E4E6;
}

.offer-wrap {
  height: 765px;
  background-image: url(../img/offer-man.png);
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.offer-title {
  font-weight: 900;
  font-size: 48px;
  line-height: 40px;
  color: #222222;
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
  margin-right: 90px;
}

.offer-title--small {
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  color: #222222;
}

.offer-title--pink {
  color: #F16D7F;
}

.categories {
  padding-top: 65px;
  padding-bottom: 85px;
}

.categories-item {
  background-color: #c4c4c4;
  width: 360px;
  height: 260px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.categories-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.categories-item--acc {
  margin-top: 30px;
  width: 100%;
  height: 180px;
  background-image: url(../img/acc.png);
}

.categories-item--women {
  background-image: url(../img/women.png);
}

.categories-item--men {
  background-image: url(../img/men.png);
}

.categories-item--kids {
  background-image: url(../img/kids.png);
}

.categories-sale {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}

.categories-name {
  color: #F16D7F;
}

.products-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 95px;
}

.products-title {
  font-size: 30px;
  line-height: 36px;
  color: #222222;
}

.products-info {
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  margin-top: 6px;
  margin-bottom: 48px;
}

.products-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product-text-box {
  padding: 18px;
}

.products-item {
  background-color: #f8f8f8;
  width: 360px;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

.product-item-link {
  text-decoration: none;
}

.product-name {
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  margin-bottom: 13px;
}

.product-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  margin-bottom: 18px;
}

.product-price {
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.all-prod {
  margin-top: 49px;
}

.product-link {
  text-decoration: none;
  border: 1px solid #F26376;
  background: none;
  color: #F26376;
  font-size: 16px;
  line-height: 19px;
  padding: 15px 39px;
}

.product-link:hover {
  background-color: #F16D7F;
  color: #FFFFFF;
}

.features {
  background-color: #222224;
  padding: 104px;
}

.features-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  text-align: center;
}

.features-title {
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
  margin-top: 28px;
}

.features-text {
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  color: #FBFBFB;
  margin-top: 16px;
}

.subscribe {
  height: 448px;
  background-image: url(../img/subscribe-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 80px;
}

.subscribe-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.subscribe-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 360px;
  text-align: center;
}

.subscribe-text {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
  margin-top: 30px;
}

.form-title {
  font-size: 24px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
}

.email-form {
  text-align: center;
}

.subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 32px;
}

.form-field {
  width: 256px;
  height: 49px;
  padding: 7px 64px 6px 22px;
  color: #222224;
  background-color: #E1E1E1;
  border: none;
  border-radius: 25px 0 0 25px;
}

.form-btn {
  width: 100px;
  height: 49px;
  color: #fff;
  background-color: #F16D7F;
  border: none;
  border-radius: 0 25px 25px 0;
}

footer {
  background-color: #222224;
  height: 79px;
}

.footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.copyright-text {
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
  margin-top: 30px;
}

.sochial {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 24px;
  gap: 7px;
}

.sochial-link {
  background-color: #fff;
  color: #000000;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32px;
  height: 32px;
}

.sochial-link:hover {
  background-color: #F16D7F;
  color: #fff;
}

.breadcrumbs {
  background-color: #F8F3F4;
  padding: 60px;
}

.breadcrumbs-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.breadcrumbs-title {
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.breadcrumbs-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.breadcrumbs-item::before {
  content: '/';
  margin-right: 10px;
}

.breadcrumbs-item:first-child::before {
  display: none;
}

.breadcrumbs-link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.breadcrumbs-link--current {
  font-weight: bold;
  color: #F16D7F;
}

.breadcrumbs-link[href]:hover {
  text-decoration: underline;
  color: #F16D7F;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 51px;
  margin-bottom: 65px;
}

.filter-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.filter-drop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 330px;
}

.filter-item {
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.filter-item .fa-angle-down {
  margin-left: 10px;
  margin-right: 28px;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 49px;
  margin-bottom: 109px;
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 12px 41px;
  border: 1px solid #EBEBEB;
}

.pagination-item {
  margin-right: 18px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}

.pagination-btn {
  border: none;
  background: transparent;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #6F6E6E;
}

.pagination-btn:hover {
  color: #F16D7F;
}

.product-present {
  height: 777px;
  background-color: #F7F7F7;
}

.product-present-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.left-arrow {
  width: 47px;
  height: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(42, 42, 42, 0.15);
}

.product-img {
  height: 724px;
}

.right-arrow {
  width: 47px;
  height: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(42, 42, 42, 0.15);
}

.arrow-btn {
  border: none;
  background: transparent;
}

.arrow-btn:hover {
  fill: #F16D7F;
}

.collection-description {
  background-color: #FFFFFF;
}

.collection-description-wrap {
  border: 1px solid #EAEAEA;
  width: 1141px;
  padding-top: 64px;
  padding-bottom: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #FFFFFF;
}

.description-header {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.pink-line {
  width: 63px;
  height: 3px;
  background-color: #EF5B70;
  margin-top: 12px;
  margin-bottom: 12px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.description-title {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.description {
  width: 555px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5E5E5E;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 48px;
  margin-bottom: 32px;
}

.description-price {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #EF5B70;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.description-border {
  width: 641px;
  border: 1px solid #EAEAEA;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 65px;
  margin-bottom: 65px;
}

.description-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 49px;
  -ms-flex-item-align: center;
      align-self: center;
}

.description-drop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.description-item {
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.description-item .fa-angle-down {
  margin-left: 10px;
  margin-right: 28px;
}

.description-cart {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.description-btn {
  text-decoration: none;
  border: 1px solid #F26376;
  background: none;
  color: #F26376;
  font-size: 16px;
  line-height: 19px;
  padding: 15px 39px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 23px;
}

.products-card {
  margin-top: 728px;
  margin-bottom: 128px;
}
/*# sourceMappingURL=style.css.map */